:root {
  --word-highlighted: #e31b6d;
  --blue-sky: #04c2c9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}


html,
body {
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
}
a{
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
}
