.mainContent {
  height: 100%;
  width: 100%;

  color: whitesmoke;
  background-color: whitesmoke;
}

.homeSection {
  background: var(--bg-color);
}

.sectionContainer {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrowContainer {
  margin: 2% 0 5% 0;
  border: 1px solid whitesmoke;
  border-radius: 0.9rem;

  padding: 0.9rem;
  transition: border 0.3s;
}

.arrowContainer a {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 0.3s;
  color: whitesmoke;
}

.arrowContainer:hover {
  color: var(--blue-sky);
  border: 1px solid var(--blue-sky);
}

.arrowContainer:hover a {
  color: var(--blue-sky);
}

.animatedArrow {
  margin-left: 0.5rem;
  transition: transform 0.3s;
}

.arrowContainer:hover .animatedArrow {
  transform: rotate(90deg);
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer h1 {
  margin-right: 4rem;
}

.textContainer img {
  border-radius: 10rem;
}

.textContainer strong {
  color: var(--word-highlighted);
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: 120vh;
  background: whitesmoke;
}

.selfImageContainer {
  height: 50%;
  width: 50%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selfImageContainer img {
  position: relative;
  z-index: 1;

  margin: 0 10% 20% 0;

  border-radius: 20rem;
}

.aboutTextContainer {
  margin: 0 10% 10% 10%;
  height: 60%;
  width: 80%;

  .aboutText {
    margin-top: 5em;
    p {
      font-size: 1.5rem;
      color: black;
    }
  }

  .aboutSkills {
    margin-top: 3em;
  }
}

.skillsContainer {
  background-color: blue;
}

.blogContainer {
  background-color: green;
}

@media (max-width: 1024px) {
  .homeSection {
    display: flex-start;
    height: 80%;
  }

  .textContainer {
    width: 100%;
    h1 {
      margin: 20% 10% 10% 10%;
    }
  }

  .arrowContainer {
    margin-bottom: 20%;
  }

  .textContainer img {
    display: none;
  }

  .aboutContainer {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 720px) {
  .textContainer {
    h1 {
      font-size: 3rem;
    }
  }

  .arrowContainer {
    a {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
